Django>=4.2
Pillow
django-crispy-forms
django-filter
django-ckeditor
gunicorn
whitenoise
psycopg2-binary   # لو تستخدم PostgreSQL
django-grappelli
django_cron
wikipedia
django-environ
cloudinary
django-cloudinary-storage
